{% extends "layout/basic.html" %}

{% block title %}
{{ current_rubric.name }}
{% endblock %}

{% block content %}
{% for bb in bbs %}
    <h2>
        Rubrics :: {{ current_rubric }}
    </h2>
    <div>
        <h2>
            {{ bb.title }}
        </h2>
        <p>
            {{ bb.content }}
        </p>
        <p>
            Price: {{ bb.price }}
        </p>
        <p>
            Rubric: <a href="{% url 'by_rubric' bb.rubric.pk %}">{{ bb.rubric.name }}</a>
        </p>
        <p>
            {{ bb.published|date:"d.m.Y H:i:s" }}
        </p>
    </div>
{% endfor %}
{% endblock %}
